body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
p{
    color: dimgrey;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding-top: 40px;
}
.half-width{
    width: 45%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
    padding: 5%;
}
.half-width p{
    padding-bottom: 20px;
    padding-right: 10px;
}
#top-left{
    padding-left: 100px;

}
#top-right{
    float: right;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 50px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area h1{
    padding-left: 50px;
}

.experience-item{
    box-shadow: 10px 15px 40px gray;
    width: 50%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 40px;
    border-radius: 10px;

}

.experience-item p{
    padding-right: 20%;
}

#junior{

    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}

#intern{

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: gray;
}